.portfolio_nav{
    width: 100%;
    border-bottom: 1px solid var(--color-light-gray);
}
.portfolio_nav_block{
    position: relative;
}
.portfolio_nav_block h4{
    font-weight: 450;
    color: #6C6B6B;
    padding: 8px 0;
}
.portfolio_nav_block:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    right: 0;
    height: 1px;
    background: #000;
    opacity: 0;
    transition: .3s;
}
.portfolio_nav_block.chosen h4{
    color: #000;
}
.portfolio_nav_block.chosen:after,
.portfolio_nav_block.chosen:hover:after{
    opacity: 1;
}

section.portfolio{}
.portfolio_awards{width: 67%;}
.portfolio_awards_block{
    background-repeat: no-repeat;
    background-position: center left;
}
.portfolio_awards_block.gold{background-image: url(../img/icon/award_g.svg);}
.portfolio_awards_block.silver{background-image: url(../img/icon/award_s.svg);}
.portfolio_awards_block.bronze{background-image: url(../img/icon/award_b.svg);}
.portfolio_bottom_nav{
    margin-bottom: 140px;
    margin-top: 70px;
    width: 450px;
    border-top: 1px solid var(--color-light-gray);
}