@import "/fonts/stylesheet.css" all;
/* TT Commons Pro Expanded 300, 400, 500, 600 */

html,body{width: 100%; margin: 0; padding: 0;}
.wrap{margin: 0 auto; max-width: 1380px; width: 96%;}
.wrap_else{margin: 0 auto; max-width: 1440px; width: 90%;}
p, h1, h2, h3, h4, h5{-webkit-margin-before: 0; -webkit-margin-after: 0; margin: 0; padding: 0;}


*::selection{background-color: rgba(72,68,74,.6);}
body, a, h1, h2, h3, h4, input, textarea, button, input::placeholder, textarea::placeholder{font-family: "TT Commons Pro Expanded", Arial, sans-serif;}
body{
	font-size: var(--fz-text);
	line-height: var(--lh-text);
    color: var(--color-black);
    overflow-x: hidden;
	background-color: #EBE8E6;
	letter-spacing: -.1;
}
a, button{
	font-size: var(--fz-text-small-caps);
	line-height: var(--lh-text);
	text-transform: uppercase;
	font-weight: 500;
	display: block;
	letter-spacing: -.1;
}
body > section, footer, header{float: left; width: 100%;}
section{margin-bottom: 30px;}
a{text-decoration: none; color: #48444A;}
form{margin: 0;}
input{
    background: none;
    border: none;
    outline: none;
	letter-spacing: -.1;
}
h1, h2, h3, h4, h5{text-transform: uppercase; line-height: var(--lh-other);}
h1{
	font-family: "TT Commons Pro Expanded";
	font-size: 48px;
	font-weight: 700;
	text-transform: uppercase;}
h2{
	font-size: 38px;
	font-weight: 600;
}
h2.type2{
	font-weight: 300;
	color: #6C6B6B;
	width: 450px;
}
h3{
	font-size: 24px;
	font-weight: 600;
}
h4{
	font-size: 16px;
	font-weight: 600;
	letter-spacing: -.1;
}
img{max-width: 100%;}
/* h1:last-of-type:after {
    content: ".";
	font-weight: 700;} */

.l-col, .r-col{
	max-width: 682px;
	width: 49.5%;
	min-width: 49.5%;}
.r-col{margin-left: 16px;}
.col4{width: 25%;}
.col3{max-width: 33.4%;}

.pr{position: relative;}
.pa{position: absolute;}
.l-0{left: 0;}.r-0{right: 0;}.t-0{top: 0;}.b-0{bottom: 0;}
.l-1{left: 1px;}.r-1{right: 1px;}.t-1{top: 1px;}.b-1{bottom: 1px;}

.db{display: block;}
.df{display: flex;}
.fdc{flex-direction: column;}
.asfe{align-self: flex-end;}
.asfs{align-self: flex-start;}
.aife{align-items: flex-end;}
.aifs{align-items: flex-start;}
.aic{align-items: center;}
.ais{align-items: stretch;}
.jcsb{justify-content: space-between;}
.jcfs{justify-content: flex-start;}
.jcfe{justify-content: flex-end;}
.jcc{justify-content: center;}
.fww{flex-wrap: wrap;}

.bz-bb{box-sizing: border-box;}

.tar{text-align: right;}
.tal{text-align: left;}
.tac{text-align: center;}

.mnw-100p{min-width: 100%;}
.mnw-50p{min-width: 50%;}

.mxw-100p{max-width: 100%;}
.mxw-50p{max-width: 50%;}
.mxw-25p{max-width: 25%;}

.w-25p{width: 25%;}
.w-50p{width: 50%;}

.mxw-265{max-width: 265px;}
.mxw-280{max-width: 280px;}
.mxw-340{max-width: 340px;}
.mxw-350{max-width: 350px;}
.mxw-360{max-width: 360px;}
.mxw-370{max-width: 370px;}
.mxw-380{max-width: 380px;}
.mxw-400{max-width: 400px;}
.mxw-450{max-width: 450px;}
.mxw-505{max-width: 505px;}
.mxw-550{max-width: 550px;}
.mxw-630{max-width: 630px;}

.w-400{width: 400px;}
.w-265{width: 265px;}
.w-240{width: 265px;}
.w-135{width: 135px;}
.w-145{width: 145px;}
.w-10_5{width: 10.5px;}

.h-10_5{height: 10.5px;}

.p-1{padding: 1px;} .p-2{padding: 2px;} .p-3{padding: 3px;} .p-4{padding: 4px;} .p-5{padding: 5px;} .p-6{padding: 6px;} .p-7{padding: 7px;} .p-8{padding: 8px;} .p-9{padding: 9px;} .p-10{padding: 10px;} .p-11{padding: 11px;} .p-12{padding: 12px;} .p-13{padding: 13px;} .p-14{padding: 14px;} .p-15{padding: 15px;}

.pt-0{padding-top: 0px;}     .pr-0{padding-right: 0px;}     .pb-0{padding-bottom: 0;}     .pl-0{padding-left: 0px;}
.pt-5{padding-top: 5px;}     .pr-5{padding-right: 5px;}     .pb-5{padding-bottom: 5;}     .pl-5{padding-left: 5px;}
.pt-10{padding-top: 10px;}   .pr-10{padding-right: 10px;}   .pb-10{padding-bottom: 10;}   .pl-10{padding-left: 10px;}
.pt-15{padding-top: 15px;}   .pr-15{padding-right: 15px;}   .pb-15{padding-bottom: 15;}   .pl-15{padding-left: 15px;}
.pt-20{padding-top: 20px;}   .pr-20{padding-right: 20px;}   .pb-20{padding-bottom: 20;}   .pl-20{padding-left: 20px;}
.pt-25{padding-top: 25px;}   .pr-25{padding-right: 25px;}   .pb-25{padding-bottom: 25;}   .pl-25{padding-left: 25px;}
.pt-30{padding-top: 30px;}   .pr-30{padding-right: 30px;}   .pb-30{padding-bottom: 30;}   .pl-30{padding-left: 30px;}
.pt-35{padding-top: 35px;}   .pr-35{padding-right: 35px;}   .pb-35{padding-bottom: 35;}   .pl-35{padding-left: 35px;}
.pt-40{padding-top: 40px;}   .pr-40{padding-right: 40px;}   .pb-40{padding-bottom: 40;}   .pl-40{padding-left: 40px;}
.pt-45{padding-top: 45px;}   .pr-45{padding-right: 45px;}   .pb-45{padding-bottom: 45;}   .pl-45{padding-left: 45px;}
.pt-50{padding-top: 50px;}   .pr-50{padding-right: 50px;}   .pb-50{padding-bottom: 50;}   .pl-50{padding-left: 50px;}
.pt-55{padding-top: 55px;}   .pr-55{padding-right: 55px;}   .pb-55{padding-bottom: 55;}   .pl-55{padding-left: 55px;}
.pt-60{padding-top: 60px;}   .pr-60{padding-right: 60px;}   .pb-60{padding-bottom: 60;}   .pl-60{padding-left: 60px;}

.mt--10{margin-top: -10px;} .mr--10{margin-right: -10px;} .mb--10{margin-bottom: -10;} .ml--10{margin-left: -10px;}
.mt--9{margin-top: -9px;}   .mr--9{margin-right: -9px;}   .mb--9{margin-bottom: -9;}   .ml--9{margin-left: -9px;}
.mt--8{margin-top: -8px;}   .mr--8{margin-right: -8px;}   .mb--8{margin-bottom: -8;}   .ml--8{margin-left: -8px;}
.mt--7{margin-top: -7px;}   .mr--7{margin-right: -7px;}   .mb--7{margin-bottom: -7;}   .ml--7{margin-left: -7px;}
.mt--6{margin-top: -6px;}   .mr--6{margin-right: -6px;}   .mb--6{margin-bottom: -6;}   .ml--6{margin-left: -6px;}
.mt--5{margin-top: -5px;}   .mr--5{margin-right: -5px;}   .mb--5{margin-bottom: -5;}   .ml--5{margin-left: -5px;}
.mt--4{margin-top: -4px;}   .mr--4{margin-right: -4px;}   .mb--4{margin-bottom: -4;}   .ml--4{margin-left: -4px;}
.mt--3{margin-top: -3px;}   .mr--3{margin-right: -3px;}   .mb--3{margin-bottom: -3;}   .ml--3{margin-left: -3px;}
.mt--2{margin-top: -2px;}   .mr--2{margin-right: -2px;}   .mb--2{margin-bottom: -2;}   .ml--2{margin-left: -2px;}
.mt--1{margin-top: -1px;}   .mr--1{margin-right: -1px;}   .mb--1{margin-bottom: -1;}   .ml--1{margin-left: -1px;}
.mt-1{margin-top: 1px;}     .mr-1{margin-right: 1px;}     .mb-1{margin-bottom: 1;}     .ml-1{margin-left: 1px;}
.mt-2{margin-top: 2px;}     .mr-2{margin-right: 2px;}     .mb-2{margin-bottom: 2;}     .ml-2{margin-left: 2px;}
.mt-3{margin-top: 3px;}     .mr-3{margin-right: 3px;}     .mb-3{margin-bottom: 3;}     .ml-3{margin-left: 3px;}
.mt-4{margin-top: 4px;}     .mr-4{margin-right: 4px;}     .mb-4{margin-bottom: 4;}     .ml-4{margin-left: 4px;}
.mt-5{margin-top: 5px;}     .mr-5{margin-right: 5px;}     .mb-5{margin-bottom: 5;}     .ml-5{margin-left: 5px;}
.mt-6{margin-top: 6px;}     .mr-6{margin-right: 6px;}     .mb-6{margin-bottom: 6;}     .ml-6{margin-left: 6px;}
.mt-7{margin-top: 7px;}     .mr-7{margin-right: 7px;}     .mb-7{margin-bottom: 7;}     .ml-7{margin-left: 7px;}
.mt-8{margin-top: 8px;}     .mr-8{margin-right: 8px;}     .mb-8{margin-bottom: 8;}     .ml-8{margin-left: 8px;}
.mt-9{margin-top: 9px;}     .mr-9{margin-right: 9px;}     .mb-9{margin-bottom: 9;}     .ml-9{margin-left: 9px;}
.mt-10{margin-top: 10px;}   .mr-10{margin-right: 10px;}   .mb-10{margin-bottom: 10;}   .ml-10{margin-left: 10px;}
.mt-15{margin-top: 15px;}   .mr-15{margin-right: 15px;}   .mb-15{margin-bottom: 15;}   .ml-15{margin-left: 15px;}
.mt-20{margin-top: 20px;}   .mr-20{margin-right: 20px;}   .mb-20{margin-bottom: 20;}   .ml-20{margin-left: 20px;}
.mt-25{margin-top: 25px;}   .mr-25{margin-right: 25px;}   .mb-25{margin-bottom: 25;}   .ml-25{margin-left: 25px;}
.mt-30{margin-top: 30px;}   .mr-30{margin-right: 30px;}   .mb-30{margin-bottom: 30;}   .ml-30{margin-left: 30px;}
.mt-35{margin-top: 35px;}   .mr-35{margin-right: 35px;}   .mb-35{margin-bottom: 35;}   .ml-35{margin-left: 35px;}
.mt-40{margin-top: 40px;}   .mr-40{margin-right: 40px;}   .mb-40{margin-bottom: 40;}   .ml-40{margin-left: 40px;}
.mt-45{margin-top: 45px;}   .mr-45{margin-right: 45px;}   .mb-45{margin-bottom: 45;}   .ml-45{margin-left: 45px;}
.mt-50{margin-top: 50px;}   .mr-50{margin-right: 50px;}   .mb-50{margin-bottom: 50;}   .ml-50{margin-left: 50px;}
.mt-55{margin-top: 55px;}   .mr-55{margin-right: 55px;}   .mb-55{margin-bottom: 55;}   .ml-55{margin-left: 55px;}
.mt-60{margin-top: 60px;}   .mr-60{margin-right: 60px;}   .mb-60{margin-bottom: 60;}   .ml-60{margin-left: 60px;}
.mt-65{margin-top: 65px;}   .mr-65{margin-right: 65px;}   .mb-65{margin-bottom: 65;}   .ml-65{margin-left: 65px;}
.mt-70{margin-top: 70px;}   .mr-70{margin-right: 70px;}   .mb-70{margin-bottom: 70;}   .ml-70{margin-left: 70px;}
.mt-75{margin-top: 75px;}   .mr-75{margin-right: 75px;}   .mb-75{margin-bottom: 75;}   .ml-75{margin-left: 75px;}
.mt-80{margin-top: 80px;}   .mr-80{margin-right: 80px;}   .mb-80{margin-bottom: 80;}   .ml-80{margin-left: 80px;}
.mt-85{margin-top: 85px;}   .mr-85{margin-right: 85px;}   .mb-85{margin-bottom: 85;}   .ml-85{margin-left: 85px;}
.mt-90{margin-top: 90px;}   .mr-90{margin-right: 90px;}   .mb-90{margin-bottom: 90;}   .ml-90{margin-left: 90px;}
.mt-95{margin-top: 95px;}   .mr-95{margin-right: 95px;}   .mb-95{margin-bottom: 95;}   .ml-95{margin-left: 95px;}
.mt-100{margin-top: 100px;} .mr-100{margin-right: 100px;} .mb-100{margin-bottom: 100;} .ml-100{margin-left: 100px;}
.mt-105{margin-top: 105px;} .mr-105{margin-right: 105px;} .mb-105{margin-bottom: 105;} .ml-105{margin-left: 105px;}
.mt-110{margin-top: 110px;} .mr-110{margin-right: 110px;} .mb-110{margin-bottom: 110;} .ml-110{margin-left: 110px;}
.mt-115{margin-top: 115px;} .mr-115{margin-right: 115px;} .mb-115{margin-bottom: 115;} .ml-115{margin-left: 115px;}
.mt-120{margin-top: 120px;} .mr-120{margin-right: 120px;} .mb-120{margin-bottom: 120;} .ml-120{margin-left: 120px;}
.mt-125{margin-top: 125px;} .mr-125{margin-right: 125px;} .mb-125{margin-bottom: 125;} .ml-125{margin-left: 125px;}
.mt-130{margin-top: 130px;} .mr-130{margin-right: 130px;} .mb-130{margin-bottom: 130;} .ml-130{margin-left: 130px;}
.mt-135{margin-top: 135px;} .mr-135{margin-right: 135px;} .mb-135{margin-bottom: 135;} .ml-135{margin-left: 135px;}
.mt-140{margin-top: 140px;} .mr-140{margin-right: 140px;} .mb-140{margin-bottom: 140;} .ml-140{margin-left: 140px;}
.mt-145{margin-top: 145px;} .mr-145{margin-right: 145px;} .mb-145{margin-bottom: 145;} .ml-145{margin-left: 145px;}
.mt-150{margin-top: 150px;} .mr-150{margin-right: 150px;} .mb-150{margin-bottom: 150;} .ml-150{margin-left: 150px;}
.mt-155{margin-top: 155px;} .mr-155{margin-right: 155px;} .mb-155{margin-bottom: 155;} .ml-155{margin-left: 155px;}
.mt-160{margin-top: 160px;} .mr-160{margin-right: 160px;} .mb-160{margin-bottom: 160;} .ml-160{margin-left: 160px;}
.mt-165{margin-top: 165px;} .mr-165{margin-right: 165px;} .mb-165{margin-bottom: 165;} .ml-165{margin-left: 165px;}
.mt-170{margin-top: 170px;} .mr-170{margin-right: 170px;} .mb-170{margin-bottom: 170;} .ml-170{margin-left: 170px;}
.mt-175{margin-top: 175px;} .mr-175{margin-right: 175px;} .mb-175{margin-bottom: 175;} .ml-175{margin-left: 175px;}
.mt-180{margin-top: 180px;} .mr-180{margin-right: 180px;} .mb-180{margin-bottom: 180;} .ml-180{margin-left: 180px;}
.mt-185{margin-top: 185px;} .mr-185{margin-right: 185px;} .mb-185{margin-bottom: 185;} .ml-185{margin-left: 185px;}
.mt-190{margin-top: 190px;} .mr-190{margin-right: 190px;} .mb-190{margin-bottom: 190;} .ml-190{margin-left: 190px;}
.mt-195{margin-top: 195px;} .mr-195{margin-right: 195px;} .mb-195{margin-bottom: 195;} .ml-195{margin-left: 195px;}
.mt-200{margin-top: 200px;} .mr-200{margin-right: 200px;} .mb-200{margin-bottom: 200;} .ml-200{margin-left: 200px;}
.mt-205{margin-top: 205px;} .mr-205{margin-right: 205px;} .mb-205{margin-bottom: 205;} .ml-205{margin-left: 205px;}
.mt-210{margin-top: 210px;} .mr-210{margin-right: 210px;} .mb-210{margin-bottom: 210;} .ml-210{margin-left: 210px;}
.mt-215{margin-top: 215px;} .mr-215{margin-right: 215px;} .mb-215{margin-bottom: 215;} .ml-215{margin-left: 215px;}
.mt-220{margin-top: 220px;} .mr-220{margin-right: 220px;} .mb-220{margin-bottom: 220;} .ml-220{margin-left: 220px;}
.mt-225{margin-top: 225px;} .mr-225{margin-right: 225px;} .mb-225{margin-bottom: 225;} .ml-225{margin-left: 225px;}
.mt-230{margin-top: 230px;} .mr-230{margin-right: 230px;} .mb-230{margin-bottom: 230;} .ml-230{margin-left: 230px;}
.mt-235{margin-top: 235px;} .mr-235{margin-right: 235px;} .mb-235{margin-bottom: 235;} .ml-235{margin-left: 235px;}
.mt-240{margin-top: 240px;} .mr-240{margin-right: 240px;} .mb-240{margin-bottom: 240;} .ml-240{margin-left: 240px;}
.mt-245{margin-top: 245px;} .mr-245{margin-right: 245px;} .mb-245{margin-bottom: 245;} .ml-245{margin-left: 245px;}
.mt-250{margin-top: 250px;} .mr-250{margin-right: 250px;} .mb-250{margin-bottom: 250;} .ml-250{margin-left: 250px;}
.mt-300{margin-top: 300px;} .mr-300{margin-right: 300px;} .mb-300{margin-bottom: 300;} .ml-300{margin-left: 300px;}
.mt-325{margin-top: 325px;} .mr-325{margin-right: 325px;} .mb-325{margin-bottom: 325;} .ml-325{margin-left: 325px;}

.ovf-h{overflow: hidden;}
.p-7_5-0{padding: 7.5px 0;}
.bb-1-lg{border-bottom: 1px solid #B9B3B3;}
.bt-1-lg{border-top: 1px solid #B9B3B3;}
.tt-u{text-transform: uppercase;}
.h-120{height: 120px;}
.h-180{height: 180px;}
.bg-arrow_up{background-image: url(../img/icon/arrow_up.svg);}
.bgpx-r{background-position-x: right}
.bgpy-c{background-position-y: center}
.bgpy-t{background-position-y: top}
.bgr-nr{background-repeat: no-repeat;}
.bgc-dl{background-color: #858B76;}
.bgc-ll{background-color: #DBDCD7;}
.bgc-lb{background-color: #CCD7E0;}
.bgc-w{background-color: #fff;}
.bgc-g{background-color: #A6A5A5;}
.bgc-p{background-color: #F1C8BF;}

header{
    width: 100%;
    margin: 30px auto;}
.logo{
    max-width: 510px;
	margin-right: auto;}
.logo img{
    width: 100%;}
.menu_wrap{
	min-width: 50%;}
.menu_block{
	width: 135px;
	font-weight: 500;
	margin-bottom: 4px;
}

section.promo{}
.catalog_categories{
	display: flex;
	flex-direction: column;
	color: var(--color-dark-gray);
	width: 360px;}
.catalog_categories_block{
	border-bottom: 1px solid var(--color-light-gray);
	font-size: var(--fz-text-small-caps);
	padding-bottom: 5.5px;
	padding-top: 7.5px;}
.download_catalog:after{
    content: '';
    position: absolute;
    right: 0;
    top: 7.5px;
    width: 12px;
    height: 10px;
    background: url(/img/icon/download_catalog.svg) center no-repeat;
}
.see_more{width: 160px;}
.see_more:after{background: url(/img/icon/see_more.svg) center no-repeat;}

.banner_form input{
    font-weight: 500;
    font-size: 11px;
    line-height: 120%;
    text-transform: uppercase;
    color: #6C6B6B;
    cursor: pointer;
    padding: 7.5px 0;
    font-family: 'TT Commons Pro Expanded', Arial;
}
.banner_form input.error{
    color: #EB5757;
}
.error_block{
    position: absolute;
    left: 0;
    top: calc(100% + 8px);
	opacity: 0;
    font-weight: 400;
    font-size: 9px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #EB5757;
	transition: .3s;
}
input.error .error_block{
	opacity: 1;
}

section.under_promo{}
.main_slider{
	width: 100vw;
	height: 45vw;
	position: relative;
}
.main_slide{
	position: absolute;
	top: 0; left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	transition: .3s;
	opacity: 0;
}
.main_slide.chosen{opacity: 1;}
.main_slide:nth-child(1){background-color: #fff;}
.main_slide:nth-child(2){background-color: #955b5b;}
.main_slide:nth-child(3){background-color: #8bd145;}
.main_slide:nth-child(4){background-color: #35c4c9;}
.main_slide:nth-child(5){background-color: #df357c;}



footer{
	padding: 40px 0; margin-top: 70px;
}
.footer_logo{width: 165px; margin-bottom: 30px;}
.copyright{
	font-size: var(--fz-text-small);
}
.footer_soc{
	margin-right: 50px;
}

.footer_designer{
    color: #B9B3B3;
    font-weight: 500;
    font-size: var(--fz-text-link);
    line-height: 120%;
    text-align: right;
	text-transform: uppercase;
}
.footer_designer a{
    color: #B9B3B3;
    font-size: var(--fz-text-link);
	display: inline;
}



.portfolio_block_name{margin: 20px 0;}